<div class=" about py-5">
<div class="container py-5 text-center">
    <h2 class="pt-5 fw-bolder text-white">ABOUT</h2>
    <div class=" pb-5 d-flex justify-content-center align-items-center">
    <h1 class="fady"><i class=" fa fa-star fa-1x text-white  text-center" aria-hidden="true"></i> </h1>
 </div>
  <div class="row pb-5">
      <div class="col-md-4  offset-2">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-md-4 offset-1">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
  </div>
</div>
</div>