<div class="pt-5 text-center">
<h2 class=" pt-5 text-dark fw-bolder">CONTACT ME</h2> 
<div class=" pb-5 d-flex justify-content-center align-items-center">
    <h1 class="fady"><i class=" fa fa-star fa-1x  text-center" aria-hidden="true"></i> </h1>
 </div>
 <div class="container">
<input type="text" name="Name" id="" placeholder="First name" class=" my-3 py-3 mx-auto w-50 form-control">
<input type="email" name="Emial" id="" placeholder="Email" class="  my-3 py-3 mx-auto w-50 form-control">
<input type="number" name="phone" id="" placeholder="Phone number" class="  my-3 py-3 mx-auto w-50 form-control">
<button class=" btn  btn-lg "> SEND

</button>
</div>


</div>

