.fady{
    position: relative;
    color: #2C3E50;
    
}

.fady::before{
    content:"";
    width: 120px;
    height: 5px;
    background-color: #2C3E50;
    position: absolute;
    bottom: 40%;
    right: 120%;
    border-radius: 10px;
  
}
.fady::after{
    content:"";
    width: 120px;
    height: 5px;
    background-color: #2C3E50;
    position: absolute;
    bottom: 40%;
    left: 120%;
    border-radius: 10px;
} 

h2{
    color: #2C3E50 ;
}

.hov{
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0;
    transition: 500ms;
    
    background-color:#1ABC9C ;
}
.hov:hover{
    opacity: 0.9;
}