<div class="pt-5 text-center">
<h2 class=" pt-5 text-dark fw-bolder">PORTFOLIO</h2> 
<div class=" pb-5 d-flex justify-content-center align-items-center">
    <h1 class="fady"><i class=" fa fa-star fa-1x  text-center" aria-hidden="true"></i> </h1>
 </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-4 p-3 ">

            <div class=" position-relative ">

            <div class="img">
                <img class="w-100 rounded-3" src="../../assets/cabin.png" alt="">
            </div>

            <div class="hov text-white rounded-3 position-absolute d-flex justify-content-center align-items-center ">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 p-3 ">

            <div class=" position-relative ">

            <div class="img">
                <img class="w-100 rounded-3" src="../../assets/circus.png" alt="">
            </div>

            <div class="hov text-white rounded-3 position-absolute d-flex justify-content-center align-items-center ">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 p-3 ">

            <div class=" position-relative ">

            <div class="img">
                <img class="w-100 rounded-3" src="../../assets/safe.png" alt="">
            </div>

            <div class="hov text-white rounded-3 position-absolute d-flex justify-content-center align-items-center ">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 p-3 ">

            <div class=" position-relative ">

            <div class="img">
                <img class="w-100 rounded-3" src="../../assets/game.png" alt="">
            </div>

            <div class="hov text-white rounded-3 position-absolute d-flex justify-content-center align-items-center ">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 p-3 ">

            <div class=" position-relative ">

            <div class="img">
                <img class="w-100 rounded-3" src="../../assets/circus.png" alt="">
            </div>

            <div class="hov text-white rounded-3 position-absolute d-flex justify-content-center align-items-center ">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 p-3 ">

            <div class=" position-relative ">

            <div class="img">
                <img class="w-100 rounded-3" src="../../assets/cake.png" alt="">
            </div>

            <div class="hov text-white rounded-3 position-absolute d-flex justify-content-center align-items-center ">
                    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            
        </div>
        
        
    </div>
</div>